@charset "utf-8";

// @import "~bulma/sass/utilities/_all";
// @import "~bulma/sass/components/dropdown";
// @import "~bulma/sass/components/navbar";
// @import "~bulma/sass/elements/form";
// @import "~bulma/sass/elements/table";

// Set your brand colors
$bg-lighter: #fafafa;
$mobile: 769px;
$text: #0000008a;
$live-blue: #3273dc;
$live-warning: #ffc107;
$live-success: #79a719;
$live-info: #38a1f3;
$live-link: #23295d;

// Update Bulma's global variables
$family-sans-serif: 'Rubik', sans-serif;
$widescreen-enabled: true;
$fullhd-enabled: false;
$navbar-background-color: transparent;
$navbar-item-hover-background-color: transparent;
$navbar-breakpoint: $mobile;
$navbar-height: 5rem;
$navbar-item-img-max-height: 3.5rem;
$warning: $live-warning;
$success: $live-success;
$primary: $live-blue;
$info: $live-info;
$link: $live-link;

// Update some of Bulma's component variables
$body-background-color: $bg-lighter;

$sizeUnit: em;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizesKey: (
  ('none', 0),
  ('xxs', 0.125),
  ('xs', 0.25),
  ('sm', 0.5),
  ('md', 1),
  ('lg', 2),
  ('xl', 4),
  ('xxl', 8)
);
$positions: (('t', 'top'), ('r', 'right'), ('b', 'bottom'), ('l', 'left'));

@function sizeValue($key, $value) {
  @return if($key == 'none', 0, $value + $sizeUnit);
}

@each $size in $sizesKey {
  $sizeKey: nth($size, 1);
  $sizeValue: nth($size, 2);
  .#{$marginKey}#{$separator}#{$sizeKey} {
    margin: sizeValue($sizeKey, $sizeValue);
  }
  .#{$paddingKey}#{$separator}#{$sizeKey} {
    padding: sizeValue($sizeKey, $sizeValue);
  }
  @each $position in $positions {
    $posKey: nth($position, 1);
    $posValue: nth($position, 2);
    .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
    }
    .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
    }
  }
}

// Import Bulma and Buefy styles
@import '../../node_modules/bulma/bulma';
@import '../../node_modules/buefy/src/scss/buefy';
