@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?inqeic');
  src: url('../fonts/icomoon.eot?inqeic#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?inqeic') format('truetype'),
    url('../fonts/icomoon.woff?inqeic') format('woff'),
    url('../fonts/icomoon.svg?inqeic#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.eot');
  src: local('../fonts/Rubik Medium'), local('../fonts/Rubik-Medium'),
    url('../fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff'),
    url('../fonts/Rubik-Medium.ttf') format('truetype'),
    url('../fonts/Rubik-Medium.svg#Rubik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Light.eot');
  src: local('../fonts/Rubik Light'), local('../fonts/Rubik-Light'),
    url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Light.woff2') format('woff2'),
    url('../fonts/Rubik-Light.woff') format('woff'),
    url('../fonts/Rubik-Light.ttf') format('truetype'),
    url('../fonts/Rubik-Light.svg#Rubik-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.eot');
  src: local('../fonts/Rubik Regular'), local('../fonts/Rubik-Regular'),
    url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff'),
    url('../fonts/Rubik-Regular.ttf') format('truetype'),
    url('../fonts/Rubik-Regular.svg#Rubik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.source-icon {
  font-family: 'icomoon';
  font-size: 2rem !important;
  width: 2em !important;
  height: 2em !important;
}
.lt-icon {
  font-family: 'icomoon';
  font-size: 1rem;
}
.yt-icon {
  font-family: 'icomoon';
  font-size: 1.5rem;
}

.mdi {
  font-size: 1.2rem;
}

.mdi-24px {
  font-size: 1.5rem;
}

.mdi-48px {
  font-size: 3rem;
}

.mdi:before,
.mdi-set {
  display: block;
  font: normal normal normal 24px/1 'icomoon';
  font-size: inherit;
  text-rendering: auto;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* custom css *******/
.image img.is-radius {
  border-radius: 6px;
}

.vcenter {
  align-items: center !important;
}

.badge {
  position: absolute;
  margin: 6px 0 0 -10px;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
  height: 1.7em !important;
}
.width3 {
  width: 3em;
}
/* custom css  *******/

.icon-down:before {
  content: '\e916';
}
.icon-up:before {
  content: '\e917';
}
.icon-left:before {
  content: '\e918';
}
.icon-right:before {
  content: '\e919';
}
.icon-dislike:before {
  content: '\e911';
}
.icon-email:before {
  content: '\e912';
}
.icon-send:before {
  content: '\e913';
}
.icon-comment:before {
  content: '\e906';
}
.icon-trash:before {
  content: '\e907';
}
.icon-close:before {
  content: '\e908';
}
.icon-check:before {
  content: '\e909';
}
.icon-minus:before {
  content: '\e90a';
}
.icon-plus:before {
  content: '\e90b';
}
.icon-share:before {
  content: '\e90c';
}
.icon-twitter:before {
  content: '\e90d';
}
.icon-youtube:before {
  content: '\e90e';
}
.icon-google:before {
  content: '\e90f';
}
.icon-news:before {
  content: '\e910';
}

.icon-like:before {
  content: '\e914';
}

/* material icons */
.mdi-alert-circle:before {
  content: '\e915';
}
.mdi-eye-off:before {
  content: '\e900';
}
.mdi-eye:before {
  content: '\e901';
}
.mdi-remove:before {
  content: '\e902';
}
.mdi-check:before {
  content: '\e904';
}
.mdi-plus:before {
  content: '\e905';
}
.mdi-close:before {
  content: '\e903';
}
